.latest-episode {
  margin-bottom: 40px;
}

.latest-episode h1 {
  font-size: 24px;
  font-weight: bold;
  color: #111;
  margin-bottom: 10px;
}

.latest-episode p {
  font-size: 16px;
  color: #333;
}